name: ci-cd
on: [push]

jobs:
    train:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout to Repo
              uses: actions/checkout@v4

            - name: Setup python env
              uses: actions/setup-python@v4
              with:
                python-version: "3.10"

            - name: Install the requirements
              run:  pip install -r requirements.txt

            - name: Train the model
              run: python random_forest.py

            - name: Save the model as artifact
              uses: actions/upload-artifact@v4
              with: 
                 name: model-artifact
                 path: random-model.pkl
    deploy:
        needs: train
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repo
              uses: actions/checkout@v4

            - name: Download artifact
              uses: actions/download-artifact@v4
              with:
                name: model-artifact
                path: .
            
            - name: Docker build
              run: docker build -t ci-cd-app

            - name: Docker Run
              run: docker run -d -p 5000:5000 --name container ci-cd-app
